.fav_authors,
.fa-signin{
    color: #fff;
    background: #FFC800;
    padding: 2px 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.fa-signin a{
    color: #fff;
    text-decoration: none;
}
.fav-authors-list{
    width: 100%;
    display: inline-block;
}
.fav-authors-list li{
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}
.fav-authors-list .fav_authors{
    float: right;
    margin-top: -5px;
}
.add-fav{
    background: #F9B436;
}
.rmv-fav{
    background: #5EB34F;
}
.fav-authors-pagination{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.fav-authors-pagination li{
    float: left;
    list-style: none;
    padding: 4px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 6px;
    cursor: pointer;
    border: 1px solid #ddd;
    background: #ddd;
}
li.fa_current{
    cursor: default;
    font-weight: bold;
    background: #fff;
}