.fav_authors{
    color: #fff;
    background: #FFC800;
    padding: 2px 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.fav-authors-list{
    width: 100%;
    display: inline-block;
}
.fav-authors-list li{
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}
.fav-authors-list .fav_authors{
    float: right;
    margin-top: -5px;
}
.add-fav{
    background: #FFC800;
}
.rmv-fav{
    background: #999;
}
.fav-authors-pagination{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.fav-authors-pagination li{
    float: left;
    list-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    background: #ddd;
}
li.fa_current{
    cursor: default;
    font-weight: bold;
    background: #fff;
}